.img2015 {
  margin-top: 10%;
  width: 80%;
  height: 70%;
}


.img2016 {
  margin-top: 10%;
  width: 80%;
  height: 70%;
}

.img2017 {
  margin-top: 10%;
  width: 90%;
  height: 80%;
  margin-bottom: 15%;
}

.img2018 {
  margin-top: 10%;
  width: 80%;
  height: 70%;
  margin-bottom: 15%;
}

